SpeculateWS/src/conf/xml-resources/web-service-references/SpeculateWS/wsdl/localhost_8080/SpeculateWS/SpeculateWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://speculatews/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://speculatews/" name="SpeculateWS">
<types>
<xsd:schema>
<xsd:import namespace="http://speculatews/" schemaLocation="http://localhost:8080/SpeculateWS/SpeculateWS?xsd=1"/>
</xsd:schema>
</types>
<message name="registraJogador">
<part name="parameters" element="tns:registraJogador"/>
</message>
<message name="registraJogadorResponse">
<part name="parameters" element="tns:registraJogadorResponse"/>
</message>
<message name="encerraPartida">
<part name="parameters" element="tns:encerraPartida"/>
</message>
<message name="encerraPartidaResponse">
<part name="parameters" element="tns:encerraPartidaResponse"/>
</message>
<message name="preRegistro">
<part name="parameters" element="tns:preRegistro"/>
</message>
<message name="preRegistroResponse">
<part name="parameters" element="tns:preRegistroResponse"/>
</message>
<message name="obtemOponente">
<part name="parameters" element="tns:obtemOponente"/>
</message>
<message name="obtemOponenteResponse">
<part name="parameters" element="tns:obtemOponenteResponse"/>
</message>
<message name="ehMinhaVez">
<part name="parameters" element="tns:ehMinhaVez"/>
</message>
<message name="ehMinhaVezResponse">
<part name="parameters" element="tns:ehMinhaVezResponse"/>
</message>
<message name="temPartida">
<part name="parameters" element="tns:temPartida"/>
</message>
<message name="temPartidaResponse">
<part name="parameters" element="tns:temPartidaResponse"/>
</message>
<message name="obtemNumBolas">
<part name="parameters" element="tns:obtemNumBolas"/>
</message>
<message name="obtemNumBolasResponse">
<part name="parameters" element="tns:obtemNumBolasResponse"/>
</message>
<message name="obtemTabuleiro">
<part name="parameters" element="tns:obtemTabuleiro"/>
</message>
<message name="obtemTabuleiroResponse">
<part name="parameters" element="tns:obtemTabuleiroResponse"/>
</message>
<message name="jogaDado">
<part name="parameters" element="tns:jogaDado"/>
</message>
<message name="jogaDadoResponse">
<part name="parameters" element="tns:jogaDadoResponse"/>
</message>
<message name="defineJogadas">
<part name="parameters" element="tns:defineJogadas"/>
</message>
<message name="defineJogadasResponse">
<part name="parameters" element="tns:defineJogadasResponse"/>
</message>
<message name="obtemNumBolasOponente">
<part name="parameters" element="tns:obtemNumBolasOponente"/>
</message>
<message name="obtemNumBolasOponenteResponse">
<part name="parameters" element="tns:obtemNumBolasOponenteResponse"/>
</message>
<portType name="SpeculateWS">
<operation name="registraJogador">
<input wsam:Action="http://speculatews/SpeculateWS/registraJogadorRequest" message="tns:registraJogador"/>
<output wsam:Action="http://speculatews/SpeculateWS/registraJogadorResponse" message="tns:registraJogadorResponse"/>
</operation>
<operation name="encerraPartida">
<input wsam:Action="http://speculatews/SpeculateWS/encerraPartidaRequest" message="tns:encerraPartida"/>
<output wsam:Action="http://speculatews/SpeculateWS/encerraPartidaResponse" message="tns:encerraPartidaResponse"/>
</operation>
<operation name="preRegistro">
<input wsam:Action="http://speculatews/SpeculateWS/preRegistroRequest" message="tns:preRegistro"/>
<output wsam:Action="http://speculatews/SpeculateWS/preRegistroResponse" message="tns:preRegistroResponse"/>
</operation>
<operation name="obtemOponente">
<input wsam:Action="http://speculatews/SpeculateWS/obtemOponenteRequest" message="tns:obtemOponente"/>
<output wsam:Action="http://speculatews/SpeculateWS/obtemOponenteResponse" message="tns:obtemOponenteResponse"/>
</operation>
<operation name="ehMinhaVez">
<input wsam:Action="http://speculatews/SpeculateWS/ehMinhaVezRequest" message="tns:ehMinhaVez"/>
<output wsam:Action="http://speculatews/SpeculateWS/ehMinhaVezResponse" message="tns:ehMinhaVezResponse"/>
</operation>
<operation name="temPartida">
<input wsam:Action="http://speculatews/SpeculateWS/temPartidaRequest" message="tns:temPartida"/>
<output wsam:Action="http://speculatews/SpeculateWS/temPartidaResponse" message="tns:temPartidaResponse"/>
</operation>
<operation name="obtemNumBolas">
<input wsam:Action="http://speculatews/SpeculateWS/obtemNumBolasRequest" message="tns:obtemNumBolas"/>
<output wsam:Action="http://speculatews/SpeculateWS/obtemNumBolasResponse" message="tns:obtemNumBolasResponse"/>
</operation>
<operation name="obtemTabuleiro">
<input wsam:Action="http://speculatews/SpeculateWS/obtemTabuleiroRequest" message="tns:obtemTabuleiro"/>
<output wsam:Action="http://speculatews/SpeculateWS/obtemTabuleiroResponse" message="tns:obtemTabuleiroResponse"/>
</operation>
<operation name="jogaDado">
<input wsam:Action="http://speculatews/SpeculateWS/jogaDadoRequest" message="tns:jogaDado"/>
<output wsam:Action="http://speculatews/SpeculateWS/jogaDadoResponse" message="tns:jogaDadoResponse"/>
</operation>
<operation name="defineJogadas">
<input wsam:Action="http://speculatews/SpeculateWS/defineJogadasRequest" message="tns:defineJogadas"/>
<output wsam:Action="http://speculatews/SpeculateWS/defineJogadasResponse" message="tns:defineJogadasResponse"/>
</operation>
<operation name="obtemNumBolasOponente">
<input wsam:Action="http://speculatews/SpeculateWS/obtemNumBolasOponenteRequest" message="tns:obtemNumBolasOponente"/>
<output wsam:Action="http://speculatews/SpeculateWS/obtemNumBolasOponenteResponse" message="tns:obtemNumBolasOponenteResponse"/>
</operation>
</portType>
<binding name="SpeculateWSPortBinding" type="tns:SpeculateWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registraJogador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="encerraPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="preRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ehMinhaVez">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="temPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumBolas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemTabuleiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jogaDado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="defineJogadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtemNumBolasOponente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SpeculateWS">
<port name="SpeculateWSPort" binding="tns:SpeculateWSPortBinding">
<soap:address location="http://localhost:8080/SpeculateWS/SpeculateWS"/>
</port>
</service>
</definitions>